<html>
	<head>
		<title>Assignment 1</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.scrollzer.min.js"></script>
		<script src="static/js/jquery.scrolly.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-layers.min.js"></script>
		<script src="static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
    <body>
        <div id="main">
            <div class="container">
                <header class="major">
                    <h2>Assignment 1</h2>
                    <p>The proverbial Hello World assignment. Complete it?</p>
                </header>
                    <p>Create an app with a button that changes a label to
                    "Hello World" when you press it. That is all.
                    <br>
                    I'll add pictures later. My code is up if you want an
                    example.</p>
            </div>
    </body>



</html>
